<html>
    <meta charset ="utf-8">
    <meta name ="viewport" content="width=device-width, intial-scale=1">
    <title>Custom Coding</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

  <body>
    <header class="header">
      <h2 href="#">Send request</h2>
      <nav>
        <li><a routerLink="/home">Home</a> </li>
      </nav>
    </header>

    <section class="hero">
      <div class="background-image"></div>
                <div class="hero-content-area">
        <p>Korisnici:</p>
        <div class="hideoverflow">
          <select  class='custom-select'  size="15" [(ngModel)]="selectedUser" (change)='onOptionsSelected(selectedUser)'>
            <option *ngFor="let s of users">
              {{s.name}} 
            </option>
          </select><br>
        </div>
        <!-- <br><button (click)="getFilesFromUser()" >Fajlovi korisnika</button><br> -->
        <br><a href="home" class="btn" (click)="sendRequestForFileSharing()" >Deli</a><br>
    </div>
</section>
  </body>

</html>

