<html>
    <meta charset ="utf-8">
    <meta name ="viewport" content="width=device-width, intial-scale=1">
    <title>Custom Coding</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

  <body>
    <header class="header">
      <h2 href="#">My files</h2>
      <nav>
        <li><a routerLink="/home">Home</a> </li>
      </nav>
    </header>

    <section class="hero">
      <div class="background-image"></div>
                <div class="hero-content-area">
    <select class='custom-select' size="15" [(ngModel)]="selectedMyFiles">
        <option *ngFor="let myf of myFiles">
            {{myf}}
        </option>
    </select><br>
  </div>
  </section>
    </body>
  
</html>
