<div class="row">

  <div class="column">
      <p>Korisnici:</p>
      <div class="hideoverflow">
      <select size="15" [(ngModel)]="selectedUser" (change)='onOptionsSelected(selectedUser)'>
        <option *ngFor="let s of users">
          {{s.name}} 
        </option>
      </select><br>
    </div>
      <!-- <br><button (click)="getFilesFromUser()" >Fajlovi korisnika</button><br> -->
      <br><button (click)="sendRequestForFileSharing()" >Deli</button><br>
      <br><button (click)="getMyFiles()" >Moji fajlovi </button><br>
    </div>
    <div class="column">
        <p>Fajlovi risnika: {{selectedUser}}</p>
        <div class="hideoverflow">
          <select size="15" multiple [(ngModel)]="selectedFiles">
            <option *ngFor="let f of selectedUserFiles">
              {{f}}
            </option>
          </select><br>
        </div>
      </div> 

      <div>
        <button (click)="showRequests()">Novi zahtevi</button>
        <br>
        <div *ngIf="checkShowNotification();">
          <app-notifications-component></app-notifications-component>
        </div>
      </div>
</div>
    <div>
      <br>
      <div class="hideoverflow">
        <select size="15" [(ngModel)]="selectedMyFiles">
          <option *ngFor="let myf of myFiles">
            {{myf}}
          </option>
        </select><br>
      </div>
     </div>

